.card {
    flex-direction: row;
    cursor: pointer;
    max-width: 415px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #e5eced;
    // box-shadow: 0px 5px 25px rgba(229, 236, 237, 0.5);
    transition-duration: 250ms;

    svg {
        color: map-get($colors, muted);
    }

    &:hover {
        border-color: map-get($colors, success);
        transform: scale(1.1);

        svg {
            color: map-get($colors, success);
        }
    }
}

.card-text {
    font-weight: bold;
    font-size: 15px;
    color: map-get($colors, primary);
    opacity: 0.9;
}

.card-number {
    font-weight: bold;
    font-size: 12px;
    color: map-get($colors, muted);
}

.card-body {
    border-radius: 5px;
    background: #fff;
    border: 2px solid #e5eced;
    box-shadow: 0px 5px 25px rgba(229, 236, 237, 0.5);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0;
    margin-top: -50px;
    z-index: 1;
}
