.poke-image {
    transition-duration: 250ms;

    &:hover {
        border-color: map-get($colors, success);
        filter: drop-shadow(-6px 5px 15px rgba(135, 139, 139, 0.4));
        transform: scale(1.1);
    }
}

.poke-name {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2rem;
    color: map-get($colors, primary);
}

.poke-number {
    font-weight: 700;
    font-size: 1.5rem;
    color: map-get($colors, muted);
    margin: 0;
    opacity: 0.6;
}

.poke-type {
    transition-duration: 250ms;
    cursor: pointer;

    &:hover {
        margin-top: -8px;
        margin-bottom: 8px;
    }
}
